@page
@model JobPortal.Web.Areas.Identity.Pages.Account.RegisterChoiceModel
@{
}


<button>  
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterCompany">Utwórz Konto Firmy</a>
</button>

<button>
    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/RegisterNormalUser">Utwórz Konto Zwykłego Użytkownika</a>
</button>