@model JobPortal.Application.ViewModels.CategoryVm.ListCategoryForListViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Zarządznie Kategoriami</h1>

<button class=" btn-primary" asp-action="AddCategory">
    <p>
        Dodaj Kategorię
    
   @* <a asp-action="AddCategory">Dodaj Kategorię</a>*@
</p>
</button>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Kategorii
            </th>
            <th>
                Nazwa Kategorii
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Categories) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
