@{
    ViewData["Title"] = "Home Page";
}

<style>
    h1{
        color: black;
       
        font-weight:bold;
        font-size:larger;
        font-family:'Berlin Sans FB';
    }

    

</style>

<div class="text-center">
    <h1 class="display-4">Welcome to the Best Job Board in the Witkowice City </h1>

    <div sstyle=" background-image: url('../../wwwroot/Images/BackGround.jpg')"></div>
    
  
</div>
